body{
  font-family:Arial;
  background:#f2f4f8;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.box{
  width:420px;
  background:white;
  border-radius:16px;
  padding:20px;
  margin-top:40px;
  border-top:6px solid #003A8F;
}

.logo{
  width:90px;
  display:block;
  margin:0 auto;
}

.marca{
  text-align:center;
  margin-bottom:15px;
}

.remax{color:#E11C2A;font-weight:bold;}
.soul{color:#003A8F;font-weight:bold;}

label{
  display:block;
  margin-top:10px;
}

input{
  width:100%;
  padding:8px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  width:100%;
  margin-top:15px;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#E11C2A;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#003A8F;
}

#slots{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:6px;
  margin-top:8px;
}

.slot{
  padding:6px;
  border-radius:8px;
  text-align:center;
  background:#e9eef5;
  cursor:pointer;
}

.slot:hover{
  background:#003A8F;
  color:white;
}

.slot.sel{
  background:#003A8F;
  color:white;
}

.slot.ocupado{
  background:#ddd;
  color:#777;
  text-decoration:line-through;
  cursor:not-allowed;
}

#msg{
  margin-top:10px;
  font-weight:bold;
  text-align:center;
}

.agendaBox{
  width:420px;
  background:white;
  border-radius:16px;
  padding:15px;
  margin-top:20px;
  border-top:6px solid #003A8F;
}

ul{
  padding-left:18px;
}
